/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color:#FFFFFF;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
  }
h2 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}